<html>
  <head>
    <title>Register your API</title>
  </head>
  <body>
    <h1>Registered API keys:</h1>
    <table border="1">
        <tr><td><p>Cisco Stealthwatch :</td><td> {{CSW}} </td></p></tr>
        <tr><td><p>Trend Micro API KEY:</td><td> {{TM}} </td></p></tr>
        <tr><td><p>Cisco AMP for Endpoint API KEY: </td><td> {{AMP4E}}</p></td></p></tr>
        <tr><td><p>Cisco Webex Teams API KEY: </td><td> {{Webex}}</p></td></p></tr>
    </table>
    <a href="../state_auto/">Lets automate operational</a>
    <a href="../state_manual/"> Lets manual operation</a>
    <p></p>
  </body>
</html>