<html>
  <head>
    <title>Register your API</title>
  </head>
  <body>
    <h1>Welcome at Unified Automated Endpoint Response Integration Portal:</h1>
    <br></br>
    <form method="POST">
        <p>Register your Cisco Stealthwatch API information</p>
        <p>Portal URL</p>
        <input name="CSW_URL">
        <p>API USER</p>
        <input name="CSW_USER">
        <p>API KEY</p>
        <input name="CSW_KEY">
        <br></br>
        <p>Register your Trend Micro API information</p>
        <p>Portal URL</p>
        <input name="TM_URL">
        <p>Application ID</p>
        <input name="TM_APPID">
        <p>API KEY</p>
        <input name="TM_KEY">
        <br></br>
        <p>Register your Cisco AMP for Endpoint API KEY here</p>
        <p>Portal URL</p>
        <input name="AMP4E_URL">
        <p>Client ID</p>
        <input name="AMP4E_CID">
        <p>API KEY</p>
        <input name="AMP4E_KEY">
        <br></br>
        <p>Register your Cisco Webex Teams API KEY here</p>
        <br></br>
        <p>Access TOKEN</p>
        <input name="Webex_TOKEN">
        <br></br>
        <input type="submit">
    </form>
  </body>
</html>